/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #143658;
    color: white;
    height: 60px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.header-title {
    flex: 1;
    text-align: center;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

#user-name {
    font-size: 18px;
    color: #ffffff;
}


.container {
    display: flex;
}

.sidebar-menu a:hover {
    background-color: #f0f0f0;
}

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px 0;
    height: 100vh;
    border-right: 5px solid #143658;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na sidebar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%; /* Garante que os elementos ocupem toda a largura da sidebar */
}

.sidebar li {
    position: relative;
    margin: 15px 0;
    text-align: center; /* Centraliza o texto dos botões */
}

/* Mostra o submenu ao passar o mouse e mantém visível */
.sidebar li:hover .submenu,
.submenu:hover {
    display: block;
}

.sidebar h2 {
    color: #010407;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: #082747;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Estilos para o conteúdo principal */
.main-content {
    flex: 1;
    padding: 20px;
    font-size: 18px;
}

/* Estilo do formulário */
form {
    max-width: 600px;
    margin: 0 auto;
}

.boi {
    color: #5f747e;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #05101b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #121314;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.submenu li {
    margin: 10px 0;
}

.custom-link {
    color: #070707;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    border: 2px solid #002f61;
    border-radius: 5px;
    background-color: #f0f8ff;
    width: calc(100% - 30px); /* Reduz a largura para dar espaço nas laterais */
    margin: 0 4%; 
    width: 80%; /* Ajuste para centralizar o botão na sidebar */
    text-align: center;
}

.custom-link:hover {
    color: #000000;
    background-color: #5f747e;
    text-decoration: underline;
}

.custom-link-exit {
    color: #ff0202;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #002f61;
    border-radius: 5px;
    background-color: #d34545;
    margin: 0 4%; 
    width: 80%; /* Ajuste para centralizar o botão na sidebar */
    text-align: center;
}

.custom-link-exit:hover {
    color: #0c0c0c;
    background-color: #ff0000;
    text-decoration: underline;
}
